hsresws/WebRoot/WEB-INF/wsdl/RequestRESService_schema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://methods.lw.com/" targetNamespace="http://methods.lw.com/" version="1.0">

  <xs:element name="requestRES" type="tns:requestRES"/>

  <xs:element name="requestRESResponse" type="tns:requestRESResponse"/>

  <xs:complexType name="requestRES">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="requestRESResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
