hsresws/WebRoot/WEB-INF/wsdl/SevService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-hudson-390-. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.lw.com/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SevService" targetNamespace="http://webservice.lw.com/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://webservice.lw.com/" schemaLocation="SevService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="login">
    <part element="tns:login" name="parameters"/>
  </message>
  <message name="loginResponse">
    <part element="tns:loginResponse" name="parameters"/>
  </message>
  <message name="getKebiaoData">
    <part element="tns:getKebiaoData" name="parameters"/>
  </message>
  <message name="getKebiaoDataResponse">
    <part element="tns:getKebiaoDataResponse" name="parameters"/>
  </message>
  <message name="getScoreData">
    <part element="tns:getScoreData" name="parameters"/>
  </message>
  <message name="getScoreDataResponse">
    <part element="tns:getScoreDataResponse" name="parameters"/>
  </message>
  <portType name="SevDelegate">
    <operation name="login">
      <input message="tns:login"/>
      <output message="tns:loginResponse"/>
    </operation>
    <operation name="getKebiaoData">
      <input message="tns:getKebiaoData"/>
      <output message="tns:getKebiaoDataResponse"/>
    </operation>
    <operation name="getScoreData">
      <input message="tns:getScoreData"/>
      <output message="tns:getScoreDataResponse"/>
    </operation>
  </portType>
  <binding name="SevPortBinding" type="tns:SevDelegate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="login">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getKebiaoData">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getScoreData">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="SevService">
    <port binding="tns:SevPortBinding" name="SevPort">
      <soap:address location="http://localhost:8080/hsresws/SevPort"/>
    </port>
  </service>
</definitions>
